/* || general styles */

html {
    font-family: Geneva, Tahoma, sans-serif;
    margin: 0;
}

body {
    max-width: 70%;
    margin: 0 auto;
    background-image: url(villain2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 165, 165);
    box-sizing: border-box;
}

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 0, 0);
}

/* header styles */

h1 {
    font-size: 4rem;
    text-align: center;
    background-color: rgb(39, 0, 0);
    border-radius: 1em;
    padding: 0.2em;
    transition: box-shadow 0.3s ease;
    max-width: 70%;
    min-width: 30%;
    margin: 0.5em auto;
}

header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    background-color: rgb(39, 0, 0);
    border-radius: 1em;
    padding: 0.5em;
    color: rgb(255, 71, 71);
    transition: box-shadow 0.3s ease;
    width: 40%;
    margin: 0.5em auto;
}

/* section styles */

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section article {
    max-width: 50%;
    min-width: 20%;
    margin: 2em;
    background-color: rgb(39, 0, 0);
    padding: 0 1em 1em 1.1em;
    border-radius: 1em;
    transition: box-shadow 0.3s ease;
}

section p {
    margin: 5px 0;
}

section ul {
    margin-top: 0;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: -3px;
    margin-bottom: 10px;
}

section article:hover{
    box-shadow: 0 0.3em 0.6em black;
}
h1:hover{
    box-shadow: 0 0.1em 0.3em black;
}
header p:hover{
    box-shadow: 0 0.2em 0.4em black;
}


